.menu {}
html{
    font-size: 20px;
    box-sizing: border-box;
}

.flex{
    box-sizing: border-box;
}
.headerBar{
    background: #ffa200;
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 100%);
    position: relative;
}

.line{
    border-top-width:2px;
    border-color: black;
    border-style: solid;
}

.phonesWrapper{
    position: absolute;
    width:50%;
    top:40%;
    right:0%;
    /* left:10%; */
}
.phonesWrapper img{
    position: absolute;
}
.phonesWrapper img:nth-of-type(1){
    right:55%;
}
.phonesWrapper img:nth-of-type(2){
    right:25%;
}
.phonesWrapper img:nth-of-type(3){
    right:0;
}
.service-line{
    border-bottom-width:2px;
    border-color: #ffa200;
    border-style: solid;
}
.GridLayout{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.decorationSpan{
    display: inline-block;
    width:10px;
    height:15px;
    background: #ffa200;
    margin-right: 4px;
    transform: rotate(-45deg)
}
.GridLayout .element:hover{
    background:#201101;
}
.GridLayout .element:hover p{
    color:white;
}
.GridLayout .element span{
    color:#ffa200;
}
.GridLayout .element:hover .vanishable{
    display:none;
}




.perfectionGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.perfectionGrid h3{
    color:white;
    text-transform: uppercase;
    background:#ffa200;
    padding:0 4px;
}
.lineguy{
    border-bottom-width:2px;
    border-color: #ffa200;
    border-style: solid;
}
.containerEnterprise{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
}





.ManOntheBackground{
    background: url('./images/Groupe\ 91@2x.png') no-repeat;
    background-size: cover;
    width:100%;
}
.OrangeBg{
    background: #ffa200;
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 100%);
}
.diamond-rotated{
    display:inline-block;
    width:12px;
    height:15px;
    background:white;
    transform:rotate(-45deg);
}
.gridForOrangeBackground{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.F-text{
    width:35%;
}
.F-text h1 span{
    border-color: #ffa200;
    border-style: solid;
    display:inline-block;
}

.obama-line{
        border-color: #ffa200;
        border-style: solid;
        display:inline-block;
}
.obama-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}
.obama-grid img{
    width:540px;
}
.span-borderbottom{
    border-color: #ffa200;
    border-style: solid;
    display:inline-block;
}
.GirlCircle{
     font-size:0.7rem;
}
.GirlCircleGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:2em;
    grid-row-gap:1em;
   
}
.GirlCircleGrid h1{
    color:#ffa200;
    font-size: 2rem;
}
.BrownBackground{
    background:#201101;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    color:#cdc9c4;
    
}

.fancyT{
    width:10px;
    height:10px;
    transform:rotate(-45deg);
    margin-right:4px;
}
.goldPremium{
    color: #ffa200;
    font-weight:600;
}

section{
    background:#ffa200;
    padding-top:4em;
    margin-top:-5em;
    color:white;
    font-size: 0.9rem;
}
section form{
    opacity:0.7;
}
section .footerHeader{
    opacity: 0.7;
}
section input[type=text]{
    width:95%;
}
section input[type=email]{
    width:95%;
}
section .input_wrapper{
    background:white;
    opacity:0.7;
    display:flex;
    padding:0.4em 0;
}
section .checkWrap{
    padding-right:18%;
}
section .formInput{
    margin-bottom:0.8em;
}


footer{
    padding: 0 2rem;
    color:white;
    font-size: 0.9rem;
}
footer .footer_2{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-column-gap:2rem;
    grid-row-gap:1rem;
}


@media (min-width:1024px){
   
    .F-text{
        margin-bottom: 10%;
        width:35%;
    }
    
}
@media (min-width:951px){
   
    .F-text{
        margin-bottom: 10%;
        width:50%;
    }
    
}

@media (max-width:950px){
    .GridLayout{
        grid-template-columns: 1fr 1fr;
    }
    .gridForOrangeBackground{
        grid-template-columns: 1fr 1fr;
    }
    .F-text{
        width:70%;
    }
    .OrangeBg{
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    }
    .obama-grid{
        grid-template-columns: 1fr 1fr;
        grid-row-gap:2em;
    }
    footer .footer_2{
        grid-template-columns: 2fr 1fr;
    }
    .phonesWrapper{
        top:35%;
    }
   
}

@media (max-width:800px){
    .phonesWrapper{
        visibility: hidden;
    }
    .phonesWrapper img{
        width:1px;
    }
}

@media (max-width:700px){
    .GridLayout{
        grid-template-columns: 1fr;
    }
    .perfectionGrid{
        grid-template-columns: 1fr;
    }
    .gridForOrangeBackground{
        grid-template-columns: 1fr;
    }
    .F-text{
        width:90%;
    }
    .containerEnterprise{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    }
    .OrangeBg{
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    }
    .obama-grid{
        grid-template-columns: 1fr;
    }
    .GirlCircleGrid{
        grid-template-columns:1fr;
    }
    .GirlCircleGrid h1{
        text-align: center;
    }
    section{
        margin-top:-4.7em;
    }
    footer{
        padding:0;
    }
    footer .footer_2{
        grid-template-columns: 1fr;
    }
}